{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>{{ orders.first.report }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Articulo</th>
            <th scope="col">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">
                    {{ order.item.name }}
                </th>
                <td> {{ order.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>{{ orders.first.report.reason }}</h3>
{% endblock content %}