{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">

        <h3>{{ orders.first.report }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio por unidad</th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}


                <tr>
                    <th scope="row">
                        {% if order.item is not None %}
                            <a href="{% url 'display_item' order.item.id %}">{{ order.item.name }}</a>
                        {% else %}
                            <a>Artículo eliminado</a>
                        {% endif %}
                    </th>
                    <td> {{ order.quantity }}</td>
                    <td> {{ order.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <legend class="border-bottom mb-4">Cifra total: {{ total }}</legend>

        <p class="text-secondary">{{ orders.first.report.reason }}</p>
    </div>
{% endblock content %}