{% extends "base.html" %}
{% block content %}


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h2 style="margin-top: 2cm; margin-bottom: 40px;">Carrito de compras</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Objeto</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in cart_items %}
                        <tr>
                            <th scope="row" class="border-0">
                                <div class="p-2">
                                    <img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
                                    <div class="ml-3 d-inline-block align-middle">
                                        <h5 class="mb-0"><a href="#"
                                                            class="text-dark d-inline-block align-middle"></a> {{ item.item.name }}
                                        </h5><span
                                            class="text-muted font-weight-normal font-italic d-block">Categoría: {{ item.item.category }}</span>
                                    </div>
                                </div>
                            </th>
                            <td class="border-0 align-middle"><strong>{{ item.item.description }}</strong>
                            </td>
                            <td class="border-0 align-middle"><strong>{{ item.quantity }}</strong></td>
                            <td class="border-0 align-middle">
                                <div class="form-group">
                                    <div class="btn">
                                        <form method="get" action="{% url 'remove_item' item.id %}">
                                            <button class="btn btn-outline-danger"
                                                    onclick="return confirmDelete();" type="submit">
                                                Eliminar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-md-4">
                <h4 style="margin-top: 2cm; margin-bottom: 50px;">Justificación</h4>
                <table class="table">
                    {% if cart_items.count == 0 %}
                        <h style="color: red; position: relative; top: -10px; font-weight: 1000;">Carro vacío</h>
                        <button type="submit" class="btn btn-success btn-block mb-2">Confirmar Compra</button>
                    {% else %}
                        <form method="post" action="{% url 'save_cart' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                        <textarea name="reason" class="form-control" id="exampleFormControlTextarea1"
                                                  rows="3"
                                                  placeholder="Especifica por que necesitas estos objetos."></textarea>
                            </div>
                            <button type="submit" class="btn btn-success btn-block mb-2">Confirmar Compra</button>
                        </form>
                    {% endif %}


                    <button href="#" class="btn btn-primary btn-block">Seguir agregando</button>
                </table>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete() {
            return confirm("Estas seguro que quieres eliminar este item?");
        }
    </script>
{% endblock %}

